.main-content {
  padding: 0;
  height: 100vh;

  background-image: url(../bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.layer {
  background-color: rgba(248, 248, 248, 0.26);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-text {
  font-family: "Passion One", cursive;
  font-size: 100px;
  color: white;
  margin: 5px;
  background-color: #476098;
  background-image: linear-gradient(
    45deg,
    #476098 16.666%,
    #e16541 16.666%,
    #a7489b 33.333%,
    #a7489b 33.333%,
    #476098 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.big-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.box {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.des-text {
  color: white;
  font-size: 20px;
  margin: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-github {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../github.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45px;
  transition: 0.3s;
}

.btn-github:hover {
  background-image: url(../github_black.png);
  background-size: 55px;
}

.btn-facebook {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../facebook.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  transition: 0.3s;
}

.btn-facebook:hover {
  background-image: url(../facebook_blue.png);
  background-size: 55px;
}

.btn-instagram {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../instagram.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  transition: 0.3s;
}

.btn-instagram:hover {
  background-image: url(../instagram_pink.png);
  background-size: 60px;
}

.btn-twitter {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../twitter.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  transition: 0.3s;
}

.btn-twitter:hover {
  background-image: url(../twitter_blue.png);
  background-size: 60px;
}

.btn-spotify {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../spotify.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  transition: 0.3s;
}

.btn-spotify:hover {
  background-image: url(../spotify_green.png);
  background-size: 55px;
}

@media only screen and (max-width: 800px) {
  .layer {
    padding: 40px;
  }
  .box {
    width: 90%;
  }
  .big-text {
    font-size: 50px;
  }
  .des-text {
    font-size: 17px;
  }
  .btn-github {
    background-size: 40px;
  }

  .btn-github:hover {
    background-size: 45px;
  }

  .btn-facebook {
    background-size: 35px;
  }

  .btn-facebook:hover {
    background-size: 40px;
  }

  .btn-instagram {
    background-size: 45px;
  }

  .btn-instagram:hover {
    background-size: 50px;
  }

  .btn-twitter {
    background-size: 40px;
  }

  .btn-twitter:hover {
    background-size: 45px;
  }

  .btn-spotify {
    background-size: 35px;
  }

  .btn-spotify:hover {
    background-size: 40px;
  }
}
